@charset "UTF-8";

.recipes{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.innerResult{
	position: relative;
    width: 1024px;
    margin: auto
}

.tit_area{
	position: relative;
    margin: 37px 0 26px 0
}

.tit_area h2 {
    font-size: 24px;
    color: #3b3b3b;
    font-family: Microsoft YaHei,'NST';
}

.tit_area b{
	color: orange;
}

.sort_area{
	position: absolute;
    right: 0;
    top: 0;
    width: 170px;
}

.sort-selector{
	width: 165px;
    height: 29px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    color: #4b4a4a;
    text-indent: 8px;
}

.list_recipe{
	font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    
}
