@charset "UTF-8";

.account_message_box{
	display: inline-block;
	font-size: 15pt;
	font-weight: 600;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

#account_messageTbl{
	width: 60%;
	height: 500px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid gray;
	border-radius: 5px;
}

.account_message_title{
	font-size: 13pt;
	font-weight: 600;
}