@charset "UTF-8";

#account_message_detail_box{
	border: 2px solid gray;
	border-radius: 5px;
	width: 50%;
	margin: 20px auto;
}

.account_message_detail_info{
	text-align: center;
	font-size: 15pt;
	font-weight: 600;
	padding: 10px;
	
}

.account_message_detail_box > div{
	display: inline-block;
	border-bottom: 2px solid black;
	font-size: 12pt;
	font-weight: 600;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.account_message_detail_btn{
	width: 100%;
	margin: 10px auto;
	text-align: right;
}

.account_message_detail_btn > button{
	width: 70px;
	height: 30px;
	color:#77262d;
	border: 2px solid rgb(229,193,197);
	border-radius:5px;
	cursor: pointer;
	background-color: transparent;
	font-weight: 600;
	font-size: 10pt;
	margin-right: 10px;
}

.account_message_detail_btn > a{
	text-decoration: none;
	color:#77262d;
	font-size: 10pt;
	font-weight: 600;
	border: 2px solid rgb(229,193,197);
	border-radius:5px;
	background-color: rgb(229,193,197);
	padding: 4px 12px 4px 12px;
	margin-right: 10px;	
}


#account_message_detailTbl{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;
	border-radius: 5px;
}

.account_message_detail_title{
	height: 50px;
	font-size: 12pt;
	font-weight: 600;
}

.account_message_detail_title > span{
	color: gray;
	font-size: 11pt;
	
}

.account_message_detail_txt{
	height: 400px;
	text-align: left;
	vertical-align: text-top;
	padding: 10px;
}