@charset "UTF-8";



body{
	

	
}

#find_T{
	width: auto;
	margin: auto;
	
    	width: auto;
	height: 400px;
	text-align: center;
}

.find_title{
	
	
margin-left:auto; 
    margin-right:auto;
	text-align: center;
	font-size: 20pt;
	font-weight: 800;

	
}


.find_txt{
	
		border: 30px solid rgb(229,193,197);
	border-radius: 5px;
	
margin-left:auto; 
    margin-right:auto;
	text-align:center;
 width: 600px;
	height: auto;
	background-color: rgb(229,193,197);
	font-size: 13px;
	color: #77262d;
	border-radius: 5px;
	font-weight: 600;
	
	
	
}


.find_txt2{

 width: auto;
	height: 30px;
	
	font-size: 10px;
	color: #77262d;
	text-align:center;
}

.find_txt3{
	
	border: 30px solid rgb(229,193,197);
	border-radius: 5px;
	
margin-left:auto; 
    margin-right:auto;
	text-align:center;
 width: 600px;
	height: auto;
	background-color: rgb(229,193,197);
	font-size: 17px;
	color: #77262d;
	border-radius: 5px;
	font-weight: 600;
	
	
}


.find_txt4{
	
	
margin-left:auto; 
    margin-right:auto;
	text-align:center;
 width: 600px;
	height: auto;

	color:#77262d;
	font-size: 20px;

	font-weight: 600;
	
	
	
}


.find_txt5{
	
/* warning 빨간색 글씨 */
	text-align:center;
	
	font-size: 13px;
	color:#ff0000;
	/* color: #77262d; */
		
	
}


.find_button{

		width: 250px;
	height: 70px;
	text-align:center;
	border: 2px solid rgb(229,193,197);
	border-radius: 5px;
	color: #77262d;
	background-color: transparent;
	font-size: 15pt;
	cursor: pointer;
	
	
	
	
}


.find_txt6{
	
	text-align:center;
	
	font-size: 13px;
		color:#77262d;
}


