@charset "UTF-8";

#loginOKTbl{
	
	padding: 3px;
	width: 100%;
	height: 100%;
	
	
	 /* width: 100%;
	text-align: center;
 margin-right: 0; */
}

.loginOK_hello{
	font-size: 16px;
	color: #77262d;
	font-weight: 600;
	

}

.loginOK_mypage{
	width: 90px;
	height: 30px;
	background-color: rgb(229,193,197);
	border-radius: 5px;
	color: #77262d;
	border: none;
	cursor: pointer;
}

.loginOK_logout{
width: 70px;
	height: 30px;
	text-align:center;
	border: 2px solid rgb(229,193,197);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
}