@charset "UTF-8";

#group_update_pwTbl{
	width: 200px;
	height: 200px;
	text-align: center;
	border: 2px solid gray;
	border-radius: 10px;
	margin: 50px auto;
}

.group_update_pwTitle{
	display: inline-block;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	font-size: 14pt;
	font-weight: 600;
}

.group_update_pw > input{
	width: 150px;
	height: 20px;
	text-align: center;
}

.group_update_pwBtn > button{
	width: 60px;
	height: 30px;
	border: 2px solid rgb(229,193,197);
	color:#77262d;
	background-color: rgb(229,193,197);
	border-radius: 5px;
}

#group_updateTble{
	width: 800px;
	height: 100%;
	text-align: center;
	margin: 50px auto;
	border: 2px solid gray;
	border-radius: 10px;
}

.group_update_info{
	font-size: 15pt;
	font-weight: 600;
	height: 100px;
}

.group_update_title > select{
	width: 50px;
	height: 30px;
}

.group_update_title > input{
	width: 500px;
	height: 30px;
	margin-top: 20px;
}

.group_update_img > img{
	width: 80%;
	margin-top: 20px;
}

.group_update_txt > textarea{
	width: 80%;
	height: 500px;
	padding: 10px;
	margin-top: 20px;
}

.group_update_file{
	text-align: left;
	padding-left: 60px; 
}

.group_update_file > input{
	margin: 10px;
}

.group_update_btn{
	width: 60px;
	height: 30px;
	border: 2px solid rgb(229,193,197);
	border-radius: 5px;
	background-color: rgb(229,193,197);
	color:#77262d;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.group_update_del{
	width: 60px;
	height: 30px;
	border: 2px solid rgb(229,193,197);
	border-radius: 5px;
	background-color: transparent;
	color:#77262d;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}